.showcase h2 {
    font-size: 3.6rem;
  }
  
  .lead {
    font-size: 2.4rem;
  }
  
  .row {
    padding: 2rem 0;
    margin-bottom: 3rem;
  }
  
  .row:nth-child(2) {
    flex-direction: row-reverse;
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }